<footer>
  <div class="footer-bar">
    <div class="f-info-brand">&copy; 2025 GlobalStay Private Limited</div>
    <div class="f-info-links">
      <a href="#" class="no-scroll">Privacy</a>
      <span>&middot;</span>
      <a href="#" class="no-scroll">Terms</a>
    </div>
    <div class="f-info-socials">
      <a href="#" class="no-scroll" target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="#" class="no-scroll" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="#" class="no-scroll" target="_blank"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</footer>
